@import "@less/vars.less";

.stage-view.economy {
  background: radial-gradient(rgb(36, 62, 87), rgb(12, 19, 24));
  color: var(--alt-bg-color);

  .p-slide {
    .body {
      display: flex;
      flex-direction: column;
      padding: 0;
      .left, .right {
        padding: @padding-container;  
      }
      .left {
        box-sizing: border-box;
        padding: 0 @padding-container;
        width: 100%;
        overflow-x: hidden;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
      }
      .right {
        flex: 2;
        padding: @padding-container*2 @padding-container*2.5;

        .data-list {
          li {
            // background-color: rgba(23, 90, 168, 0.3);
          }
        }
      }
      img {
        border: 5px solid rgba(0,0,0,0.4);
        display: block;
        margin: @padding-container 1%;
        width: 31.333%;
        max-height: 180px;
        object-fit: cover;
        opacity: 0.8;
        // border-radius: @base-border-radius;
        // border: 10px solid #fff;
        // box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
        /**
            11%: From top, top edge is 11% (down)
            89%: From left right edge is 89% (to right)
            82%: From top bottom edge is 85% (from top)
            21px: From left left edge is 21px (fro left)
         */
        // clip-path: rect(11% 89% 82% 21px);
        transition: transform 300ms ease;

        &:hover {
          transform: scale(1.05, 1.04);
          // object-fit: contain;
        }

      }
      h4 {
        margin: 0 0 @padding-container;
      }

      .pill {
        background-color: orange;
        padding: 5px 2px 3px;
        color: #000;
        border-radius: 2px;
      }
      .data-list {
        transition: transform 600ms ease, opacity 400ms ease;
        opacity: 0;
        transform: translate3d(0, -100px, 0);

        &.show {
          transform: none;
          opacity: 1;
        }
        margin-bottom: @padding-default;

        > li {
          font-size: 0.8rem;
          padding: 5px;
          margin: 0;
          padding-left: @padding-default + 4px;

          &.heading {
            padding-left: @padding-default;
            border-left-width: 4px;
          }
        }
      }
    }
  }
}
